@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600");
@keyframes drip {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(600%) rotate(45deg);
    opacity: 0;
  }
}
@keyframes stack {
  0% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4px);
  }
}
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4DFDC;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

.aeropress {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 112px;
  transform: scale(1.2);
  transition: 0.2s ease-in;
}
.aeropress > input[type=checkbox] {
  display: none;
}
.aeropress > input[type=checkbox]:checked + .trunk-component > .trunk > .coffee-solution {
  height: 0;
}
.aeropress > input[type=checkbox]:checked + .trunk-component > .trunk > .coffee-solution::before, .aeropress > input[type=checkbox]:checked + .trunk-component > .trunk > .coffee-solution::after {
  height: 0;
}
.aeropress > input[type=checkbox]:checked + .trunk-component > .plunger {
  top: -16px;
}
.aeropress > input[type=checkbox]:checked ~ .mug-component > .inside > .drips > .drip {
  animation: 0.23s drip ease-in;
  animation-iteration-count: 6;
}
.aeropress > input[type=checkbox]:checked ~ .mug-component > .inside > .drips > .drip:nth-child(2n) {
  animation-delay: 0.1s;
}
.aeropress > input[type=checkbox]:checked ~ .mug-component > .inside > .drips > .drip:nth-child(3n) {
  animation-delay: -0.3s;
}
.aeropress > input[type=checkbox]:checked ~ .mug-component > .inside > .coffee-solution {
  height: 72%;
}
.aeropress > input[type=checkbox]:checked ~ .mug-component > .inside > .coffee-solution::before {
  height: 4px;
}
.aeropress::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -2px;
  width: 52px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(177, 177, 195, 0.6);
  transition: 0.2s width;
}
.aeropress:hover > input[type=checkbox]:not(:checked) + .trunk-component > .plunger {
  transform: translateY(4px);
}
.aeropress:hover::before {
  width: 60px;
}

.trunk-component {
  width: 56px;
  height: 96px;
  position: relative;
  display: flex;
  justify-content: center;
  animation: 0.3s stack ease-in;
}
.trunk-component > .trunk {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 6px solid #373431;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.trunk-component > .trunk::before {
  content: "";
  position: absolute;
  z-index: 100;
  left: 6px;
  width: 8px;
  height: 100%;
  background-color: rgba(200, 200, 213, 0.6);
}
.trunk-component > .trunk > .shade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(102, 96, 90, 0.6);
}
.trunk-component > .plunger {
  animation: 0.5s stack ease-in;
  position: absolute;
  z-index: 50;
  top: calc(-116% + 4px);
  left: 4px;
  width: calc(100% - 8px);
  height: 116%;
  border-radius: 4px;
  background-color: #9F9A95;
  border: 6px solid #373431;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 1.4s ease-in;
}
.trunk-component > .plunger::before {
  content: "";
  position: absolute;
  z-index: 100;
  left: 6px;
  width: 8px;
  height: 100%;
  background-color: rgba(200, 200, 213, 0.6);
}
.trunk-component > .plunger > .front {
  width: calc(100% + 8px);
  transform: translateY(16px);
  border-bottom: 16px solid #585858;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.trunk-component > .plunger > .end {
  width: 188%;
  height: 6px;
  border-radius: 2px;
  background-color: #373431;
  transform: translateY(-8px);
}
.trunk-component > .lip {
  position: absolute;
  z-index: 100;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 16px;
  background-image: repeating-linear-gradient(to right, #9F9A95, #9F9A95 4px, #373431 4px, #373431 8px, #9F9A95 8px);
  border: 4px solid #373431;
}
.trunk-component > .lip::before {
  content: "";
  display: block;
  height: 6px;
  width: 180%;
  background-color: #373431;
  border-radius: 2px;
  transform: translate(calc(-19px), -6px);
}
.trunk-component > .markings {
  position: absolute;
  z-index: 200;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trunk-component > .markings > .mark {
  width: 8px;
  height: 8px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 2px solid #ebc031;
}
.trunk-component > .markings > .mark:last-child {
  margin-bottom: 0;
}

.coffee-solution {
  width: 100%;
  height: 72%;
  background-color: #562C21;
  transition: 1.4s ease-in;
  position: relative;
}
.coffee-solution::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #C69684;
  transition: 1.4s ease-in;
}
.coffee-solution::after {
  height: 102%;
  margin-top: -2%;
  left: -24%;
  border-radius: 40%;
  width: 120%;
  position: absolute;
  background-color: #562C21;
  animation: 8s move linear;
}
.coffee-solution.-empty {
  height: 0;
}
.coffee-solution.-empty::before {
  height: 0;
}

.mug-component {
  margin-top: 4px;
  width: 70px;
  height: 82px;
  border: 4px solid #6a6a6a;
  position: relative;
  z-index: 200;
  display: flex;
  align-items: flex-start;
  border-bottom-left-radius: 24px 64px;
  border-bottom-right-radius: 24px 64px;
}
.mug-component > .inside {
  margin-top: -2px;
  width: 70px;
  height: 74px;
  border-left: 3px solid #6a6a6a;
  border-right: 3px solid #6a6a6a;
  border-bottom: 3px solid #6a6a6a;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-bottom-left-radius: 24px 64px;
  border-bottom-right-radius: 24px 64px;
}
.mug-component > .inside::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 6px;
  width: 10px;
  height: 56%;
  background-color: rgba(200, 200, 213, 0.6);
  border-bottom-left-radius: 40px 120px;
}
.mug-component > .inside > .drips {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 11px);
  height: 72px;
  display: flex;
}
.mug-component > .inside > .drips > .drip {
  margin-right: 2px;
  width: 6px;
  height: 6px;
  background-color: #562C21;
  border-radius: 0 50% 50%;
  transform: rotate(45deg);
  opacity: 0;
}
.mug-component > .inside > .drips > .drip:last-child {
  margin-right: 0;
}
.mug-component::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  display: block;
  width: 20px;
  height: 40px;
  border: 4px solid #6a6a6a;
  border-bottom-right-radius: 66px 66px;
  border-top-right-radius: 48px 26px;
}

.encapsulate-fig {
  width: 824px;
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.encapsulate-fig > .brand {
  display: none;
  position: absolute;
  bottom: 24px;
  left: 24px;
  height: 64px;
}

.social-link, .social-link:focus {
  transition: 0.2s;
  position: fixed;
  bottom: 16px;
  right: 124px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transform: translate(85px, -18px);
}
.social-link > .emblem {
  width: 16px;
  margin-right: 8px;
}
.social-link > .label {
  color: #444444;
}
.social-link:hover > .emblem {
  animation: 0.5s bounce linear infinite alternate;
}
.social-link:hover > .label {
  color: #ea4c89;
}

@media (max-width: 768px) {
  .aeropress {
    transform: scale(0.9);
  }
}